<!DOCTYPE html>
<html>
<head>
  <link href=<%= fmtDate(post.updatedAt("/stylesheets/font-awesome.min.css") %> media="all" rel="stylesheet" type="text/css" />
  <link href=<%= fmtDate(post.updatedAt("/stylesheets/app.css")%> media="all" rel="stylesheet" type="text/css" />
  <title><%= title ? title + ' - Previous' : 'Previous' %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>

<body>
  <div class="bg"></div>
  <header class='fluid'>
    <div class="top-banner">
      <div class="container">
        <a href="/" class="brand">
          <img src=<%= fmtDate(post.updatedAt("/images/logo-white.png")%> alt="">
          <h1>
            由二顛倒分別見妄
          </h1>
        </a>
      </div>  
    </div>
  </header>
  <div class="navigation fluid">
    <div class="container">
      <div class="mini-logo">
        <a href='/'><img src=<%= fmtDate(post.updatedAt("/images/logo-small.png")%> alt=""></a>
      </div>
      <nav class="top-bar">
        <section class="top-bar-section">
          <ul class="left">
            <li class="has-dropdown active">
              <% if (category) { %>
              <a href='/posts/category/<%= category %>'><%= category %></a>
              <% } else { %>
              <a href="#">Blog</a>
              <% } %>
              <ul class="dropdown">
                <li><a href='/posts/category/PHP'>PHP</a></li>
                <li><a href='/posts/category/CSS'>CSS</a></li>
                <li><a href='/posts/category/Javascript'>Javascript</a></li>
                <li><a href='/posts/category/Lua'>Lua</a></li>
                <li><a href='/posts/category/Other'>Other</a></li>
              </ul>
            </li>
            <li><a href="#">Previous</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </section>
      </nav>
    </div>
  </div>
  <div class="main clearfix collapse">
    <div class="row collapse">
      <div class="columns large-8">
        <div class="content">
          <%- body %>
        </div>
      </div>
      <div class="columns large-4">
        <aside class="side-bar">
          <div class="box feature-post">
            <h3 class='wiget-head'>Featured Posts</h3>
            <div class="wiget-body">
              <ul class="feature-gallery clearfix">
                <% _.each(features, function (post) { %>   
                 <li> 
                  <% if (post.image){ %>
                  <img src=<%= fmtDate(post.updatedAt('/' + post.image)%> alt="">
                  <% } else { %>
                  <img src=<%= fmtDate(post.updatedAt("/images/default.png")%> alt="">
                  <% } %>
                 <h4> <a href='/posts/<%=post.ident %>'><%= post.title %></a></h4>

                </li>
                <% }) %> 
              </ul>
            </div>
            <div class="fixed-arrow arrow-left">
              <i class="icon-chevron-left"></i>
            </div>
            <div class="fixed-arrow arrow-right">
              <i class="icon-chevron-right"></i>
            </div>
          </div>
        </aside>
      </div>
    </div>
  </div>
  <script>
  document.write('<script src=' +
    ('__proto__' in {} ? <%= fmtDate(post.updatedAt('/js/vendor/zepto')%> : <%= fmtDate(post.updatedAt('/js/vendor/jquery') %> +
    '.js><\/script>')
  </script>
  <script src=<%= fmtDate(post.updatedAt("/js/foundation/foundation.js") %>></script>
  <script src=<%= fmtDate(post.updatedAt("/js/foundation/foundation.alerts.js") %>></script>
  <script src=<%= fmtDate(post.updatedAt("/js/foundation/foundation.clearing.js") %>></script>
  <script src=<%= fmtDate(post.updatedAt("/js/foundation/foundation.cookie.js") %>></script>
  <script src=<%= fmtDate(post.updatedAt("/js/foundation/foundation.dropdown.js") %>></script>
  <script src=<%= fmtDate(post.updatedAt("/js/foundation/foundation.forms.js") %>></script>
  <script src=<%= fmtDate(post.updatedAt("/js/foundation/foundation.joyride.js") %>></script>
  <script src=<%= fmtDate(post.updatedAt("/js/foundation/foundation.magellan.js") %>></script>
  <script src=<%= fmtDate(post.updatedAt("/js/foundation/foundation.orbit.js") %>></script>
  <script src=<%= fmtDate(post.updatedAt("/js/foundation/foundation.placeholder.js") %>></script>
  <script src=<%= fmtDate(post.updatedAt("/js/foundation/foundation.reveal.js") %>></script>
  <script src=<%= fmtDate(post.updatedAt("/js/foundation/foundation.section.js") %>></script>
  <script src=<%= fmtDate(post.updatedAt("/js/foundation/foundation.tooltips.js") %>></script>
  <script src=<%= fmtDate(post.updatedAt("/js/foundation/foundation.topbar.js") %>></script>

  <script src=<%= fmtDate(post.updatedAt("/ckeditor/ckeditor.js") %>></script>
  <script src=<%= fmtDate(post.updatedAt("/ckeditor/adapters/jquery.js") %>></script>
  <script src=<%= fmtDate(post.updatedAt("/ckeditor/init.js") %>></script>
  <script src=<%= fmtDate(post.updatedAt("/js/app.js") %>></script>
</body>
</html>
