<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">
<head>
  <link href=<%- cdn("/stylesheets/font-awesome.min.css") %> media="all" rel="stylesheet" type="text/css" />
  <link href=<%- cdn("/stylesheets/app.css")%> media="all" rel="stylesheet" type="text/css" />
  <link rel="icon" href="/favicon.ico" type="image/x-icon"/>
  <title><%= title ? title + ' - Previous' : 'Previous' %></title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta property="wb:webmaster" content="542a6e4866147b12" />
  <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=4098985874" type="text/javascript" charset="utf-8"></script>
</head>

<body>
  <div class="bg"></div>
  <header class='fluid'>
    <div class="top-banner">
      <div class="container">
        <a href="/" class="brand">
          <img src=<%- cdn("/images/logo-white.png")%> alt="">
          <h1>
            由二顛倒分別見妄
          </h1>
        </a>
      </div>  
    </div>
  </header> 
  <div class="navigation fluid">
    <div class="container">
      <div class="mini-logo">
        <a href='/'><img src=<%- cdn("/images/logo-small.png")%> alt=""></a>
      </div>
      <nav class="top-bar">
        <section class="top-bar-section">
          <ul class="left">
            <li class="has-dropdown active">
              <% if (category) { %>
              <a href='/posts/category/<%= category %>'><%= category %></a>
              <% } else { %>
              <a href="#">Blog</a>
              <% } %>
              <ul class="dropdown">
                <li><a href='/posts/category/PHP'>PHP</a></li>
                <li><a href='/posts/category/CSS'>CSS</a></li>
                <li><a href='/posts/category/Javascript'>Javascript</a></li>
                <li><a href='/posts/category/Lua'>Lua</a></li>
                <li><a href='/posts/category/Other'>Other</a></li>
              </ul>
            </li>
            <li><a href="/posts/category/Previous">Previous</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </section>
      </nav>
    </div>
  </div>
  <div class="main clearfix collapse">
    <div class="row collapse">
      <div class="columns large-9">
        <div class="content">
          <%- body %>
        </div>
      </div>
      <div class="columns large-3">
        <aside class="side-bar">
          <div class="box feature-post">
            <%- partial('partials/features')%>
          </div>
         <div class="box about-me">
            <img id="profile" src=<%- cdn("/images/cover.jpg") %> alt="">
            <div class="wiget-body">
              <div class="avatar">
                <a href='http://weibo.com/rluly'>
                  <img src="http://tp2.sinaimg.cn/1070446481/180/40011569017/1" alt="" id="avatar">
                  <img src="/images/weibo.png" alt="" id='weibo'>
                </a>
              </div>
              <div class="bio">
                <a href='http://weibo.com/rluly'><h3>_陆续</h3></a>
                <p class="muted">:写代码的2B文艺男青年</p>
              </div>
            </div>
          </div>
          <div class="box category">
              <h3 class='wiget-head'>Categories</h3>
              <div class="wiget-body">
                <ul>
                  <% _.each(categories, function (ct) { %>   
                    <li><a href='/posts/category/<%= ct.category %>'><%= ct.category %></a>  <span class="right"> <%= ct.count %> </span></li>
                  <% }) %>
                </ul>
              </div>
          </div>

        </aside>
      </div>
    </div>
  </div>
<div class="footer">
  <div class="container">
      Copyright © 2013 · www.previous-blog.com
  </div>
</div>
  <script src=<%- cdn("/js/vendor/zepto.js") %>></script>
  <script src=<%- cdn("/js/foundation/foundation.js") %>></script>
  <script src=<%- cdn("/js/foundation/foundation.alerts.js") %>></script>
  <script src=<%- cdn("/js/foundation/foundation.clearing.js") %>></script>
  <script src=<%- cdn("/js/foundation/foundation.cookie.js") %>></script>
  <script src=<%- cdn("/js/foundation/foundation.dropdown.js") %>></script>
  <script src=<%- cdn("/js/foundation/foundation.forms.js") %>></script>
  <script src=<%- cdn("/js/foundation/foundation.joyride.js") %>></script>
  <script src=<%- cdn("/js/foundation/foundation.magellan.js") %>></script>
  <script src=<%- cdn("/js/foundation/foundation.orbit.js") %>></script>
  <script src=<%- cdn("/js/foundation/foundation.placeholder.js") %>></script>
  <script src=<%- cdn("/js/foundation/foundation.reveal.js") %>></script>
  <script src=<%- cdn("/js/foundation/foundation.section.js") %>></script>
  <script src=<%- cdn("/js/foundation/foundation.tooltips.js") %>></script>
  <script src=<%- cdn("/js/foundation/foundation.topbar.js") %>></script>

 
  <script src=<%- cdn("/js/app.js") %>></script>

  <script type="text/javascript">

  $(function(){
    WB2.anyWhere(function(W){
      W.parseCMD("/users/show.json", function(sResult, bStatus){
        try{
          if (bStatus === true) {
            $('#avatar').attr('src',sResult.avatar_hd);
            $('.bio h3').html(sResult.name);
            $('.bio .muted').html(sResult.description);
          };
        }catch(e){}
      },{
        uid: '1070446481'
      },{
        method: 'get'
      });
    });
  });
  </script>
    
</body>
</html>
